<%= form_with model: @user, url: profile_path, method: "patch", local: true do |f| %>
    <%= f.label :name, class: "block text-sm font-medium leading-5 text-gray-700" %>
    <div class="mt-1 relative rounded-md shadow-sm">
        <%= f.text_field :name, class: "form-input block w-full sm:text-sm sm:leading-5" %>
    </div>

    <%= f.submit "Update profile", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 mt-2 rounded" %>
<% end %>
