<div id="enter_time" class="bg-white shadow sm:rounded-lg w-3/5 lg:w-full m-auto">
  <div class="px-4 py-5 sm:p-6">
    <h3 class="text-lg leading-6 font-medium text-gray-900">
      Track your time
    </h3>

    <%= form_with model: @new_entry do |f| %> 
      <%= f.hidden_field :recorded_date, value: @date.strftime("%Y-%m-%d") %>
      <div class="mt-2 max-w-xl text-sm leading-5 text-gray-500">
        <%= f.label :project_id, 'Select Project', class: 'sr-only' %>
        <%= f.grouped_collection_select :project_id, @clients,
         :projects, :name, :id, :name, prompt: 'Select Project' %>

        <%= f.label :duration, 'Enter duration', class: 'mt-2 block text-sm font-medium leading-5 text-gray-700' %>
        <div class="relative rounded-md shadow-sm mt-1">
          <%= f.text_field :duration, class: 'form-input block w-15 sm:text-sm sm:leading-5', autocomplete: 'off' %>
        </div>

        <%= f.label :notes, 'Notes', class: 'mt-2 block text-sm font-medium leading-5 text-gray-700' %>
        <div class="relative rounded-md shadow-sm w-full mt-1">
          <%= f.text_area :notes, class: 'form-input block w-full sm:text-sm sm:leading-5' %>
        </div>
      
        <span class="inline-flex rounded-md shadow-sm mt-5">
          <%= f.submit 'Start timer', id: 'timer_button', class: 'inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition ease-in-out duration-150' %>
        </span>
      </div>
    <% end %>
  </div>
</div>
